/* ヘッダー ================================ */
header {
  height: 64px;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.top-header-logo {
  float: left;
  padding-left: 20px;
  color: white;
  font-size: 22px;
  line-height: 64px;
}

.header-logo {
  float: left;
  padding-left: 20px;
  color: black;
  font-size: 22px;
  line-height: 64px;
}

.top-header-menus {
  float: right;
  padding-right: 20px;
}

.top-header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: white;
  padding-left: 15px;
}
.top-header-menus a {
  float: left;
  font-size: 13px;
  color: white;
}
.top-header-menus .fa {
  padding-right: 5px;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: white;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: black;
}

.header-menus .fa {
  padding-right: 5px;
}

ul {
  list-style: none;
}

/* トップ ================================ */
h1 {
  font-weight: 500;
}
  h2, h3, h4 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background: url('bg-top.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 100px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 50px;
    margin-bottom: 30px;
  }
  h3 {
    margin-bottom: 50px;
  }
}

.field{
  font-size: 25px;
}

.show-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-attachment: scroll;
  background: url('orange.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.back {
  width: 100vw;
  height: 100vh;
  background: url('red0006.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.cast-top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background: url('moet.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.facebook {
  background-color: #2e4a88;
  box-shadow: 0 4px 0 #1B3D82;
  text-shadow: 0 -1px -1px #1B3D82;

  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 18px 110px;
}
.facebook:hover {
  background-color: #354F84;
}
.facebook:active {
  top: 2px;
	box-shadow: 0 2px 0 #1B3D82;
}

.cast-img {
  width: 15vw;
  height:15vw;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 100%;
  img {
    height:15vw;
  }
}

.panel {
  font-size: 20px;
  padding-top: 50px;
}

.form-group {
  padding-bottom: 20px;
}
.flex{
  padding: 2.5% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.flex > *{
  min-width: 8%;
  font-size: 22px;
  text-align: center;
}

li {
  list-style: none;
}

.box13 {
    padding: 0.5em 1em;
    margin: 15px 0;
    color: #FFF;
    background: #6eb7ff;
    border-bottom: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.box13 p {
    margin: 0;
    padding: 0;

}
.box14 {
    padding: 0.5em 1em;
    margin: 15px 0;
    color: #FFF;
    background: #00FF00;
    border-radius: 9px;
}
